@import 'tailwindcss';

@theme {
    --default-font-family: 'Inter', sans-serif;
}
@import 'tailwindcss';
/* make sure theme switcher is wired up for the below themes */
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

:root:has(.no-doc-scroll) {
    overflow: hidden;
}
