:root {
    /* hamburger variables */
    --bar-width: 25px;
    --bar-height: 3px;
    --hamburger-gap: 5px;
    --hamburger-color: currentColor;
    --animation-timing: 200ms ease-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    --h-header: 4rem;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: var(--x-width);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--hamburger-color);
    box-shadow: 0 0 0 1px var(--hamburger-color);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--hamburger-color);
    border-radius: 1em;
    transform-origin: left center;
    transition:
        opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    width: 55%;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}
