---
import BaseLayout from '@layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title="Home" description="Example Homepage">
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">
                    Astro Base Template - Asteroid
                </h1>
                <p class="py-6">
                    This base template with Tailwind & DaisyUI is meant to be a
                    easily configurable, reusable starting template.
                </p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</BaseLayout>
