---
import { SITE } from "@consts";
---

<nav class="fixed flex items-center border border-red-500 w-full h-20 px-10">
    <!-- Spacer block -->
        <ul class="hidden md:flex ml-auto gap-24 w-fit bg-black">
             <li>
                <a href="/" class="underline">link1</a>
            </li>
                <li >
                <a href="/" class="underline">link1</a>
            </li>
                <li >
                <a href="/" class="underline">link1</a>
            </li>
        </ul>
    <!-- Hamburger -->

        <label class="hamburger-menu flex md:hidden ml-auto">
            <input type="checkbox" />
        </label>

    <!-- Mobile menu overlay -->
    <nav
        id="mobile-nav-links"
        class="fixed inset-0 z-50 opacity-0 pointer-events-none mt-20 transition-all"
    >
    <div class="fixed block inset-0 z-10 mt-20 bg-black opacity-50 pointer-events-none"></div>
        <ul class="flex fixed right-0 z-20 flex-col gap-10 px-5 py-10 text-2xl w-2/3 h-full bg-black">
            <a href="/" class="underline">link1</a>
            <a href="/" class="underline">link2</a>
            <a href="/" class="underline">link3</a>
            <div class="h-px w-full bg-white"></div>
        </ul>
        
    </nav>
</nav>

<script>
    import "@scripts/mobileMenu";
</script>
