---
import Head from '@components/Head.astro';
import '@styles/global.css';
import { SITE } from '@consts';
import Header from '@components/Header.astro';

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
    <body>
        <Header />
        <main class="max-w-6xl mx-auto px-4">
            <slot />
        </main>
    </body>
</html>
