---
import Head from '@components/Head.astro';
import '@styles/global.css';
import { SITE } from '@consts';
import Footer from '@components/Footer.astro';
import Nav from '@components/Nav.astro';

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
    <body>
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
